extends layout.pug

block title
    title Books

block content
    h1 Books
        p
            a(class="button" href="/book/new") Create New Book
        p
            form(method="GET" action="/books")
                input(name="query" type="text" placeholder="What would you like to find?")
                button(type="submit" class="button") Search
        p
            - params.page = params.page || 1;
            a(class="button small" href=(baseUrl+'?'+Object.keys(params).map(key => (key+'='+params[key])).join('&').replace(/page=\d/gi,`page=${(page-1)}`))) Prev
            a &nbsp;|&nbsp;
            a(class="button small" href=(baseUrl+'?'+Object.keys(params).map(key => (key+'='+params[key])).join('&').replace(/page=\d/gi,`page=${(page+1)}`))) Next
        if (books.length <= 0)
            h2 Oops...
            p Looks like there's no more books to display
            a(class="button small" href="/books") Return
        else
            table
                thead 
                    tr 
                        th Title
                        th Author
                        th Genre
                        th Year
                tbody
                    each book, idx in books
                        tr
                            td 
                                a(href=`/book/${book.id}`) #{book.title}
                            td #{book.author}
                            td #{book.genre}
                            - if (book.year instanceof Date) book.year = book.year.getYear();
                            td #{book.year}